.preview-page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;

    .bottom-navigation-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0px 40px;
    }

    .inline-input {
      color: rgb(124, 124, 124);
      width: 80%;
    }

    .sidebar-item-level-1 {
      padding: 15px 12px 15px 22px;
      cursor: pointer;
    }

    .sidebar-item-level-2 {
      padding: 15px 12px 15px 43px;
      cursor: pointer;
    }
  }

  .autofill-button[disabled] {
    cursor: default;
    color: #afafaf;
  }

  .autofill-function-button {
    cursor: pointer;
  }
  
  iframe {
    display: block;
    width:100%;
    height: 100%;
    position: relative;
  }

  // .flex0 {
  //   flex: 1 1 0%;
  // }

  // .document-table {
  //   flex: 1 1 0%;
  //   display: flex;
  //   flex-direction: column;
  //   overflow-y: auto;

  //   i {
  //     cursor: pointer;
  //   }
  // }

  // .search-document-bar{
  //   display: flex;
  //   align-items: flex-end;
  //   justify-content: flex-start;
  //   height: 80px;

  //   div {
  //     display: flex;
  //     align-items: center;
  //     justify-content: flex-start;
  //     padding-left: 40px;
  //     height: 100%;
  //     width: 66%;
  //     background-color: rgb(247, 247, 247);

  //     input {
  //       color: rgb(124, 124, 124); width: 80%;
  //     }
  //   }
  //   button {
  //     width: 33%; height: 100%; cursor: default;
  //   }
  // }


}