.template-preview{
  .scroll-thumb {
    cursor: default;
    position: absolute;
    left: 0;
    height: 20px;
    width: 7px;
    border-radius: 7px;
    background-color: #5e9090;
    top: 0;
  }
}
