.recoverPasswordPage {
  height: 100vh;
  background-image: url('https://d1xvn5mjulg4qv.cloudfront.net/3.0.0/images/bg.png');

  .wrapper {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -33%);
  }

  .recoverPasswordForm {
    background-color: white;
    border-radius: 6px;
    overflow: hidden;

    &__title {
      background-color: rgb(247, 247, 247);
      padding: 30px 15px;
      display: flex;
      justify-content: center;

      img {
        height: 72px;
      }
    }

    &__content {
      padding: 50px;

      form > div:not(:first-child) {
        margin-top: 15px;
      }

      form > div:last-child {
        margin-top: 25px !important;
        color: rgb(168, 168, 168);
        font-size: 12px;
        text-align: right;

        a {
          color: rgb(168, 168, 168);
        }
      }

    }
  }

  .contactUs {
    margin-top: 25px;
    font-size: 14px;
    text-align: center;

    a {
      color: white;
    }
  }

  .copyRight {
    margin-top: 25px;
    color: rgb(87, 139, 142);
    font-size: 14px;
    text-align: center;
  }
  
  .password-container {
    position: relative;
    .validator {
      position: absolute;
      right: 10px;
      //top: 10px;
      top: 50%;
      transform: translateY(-50%);
      &.weak {
        color: #d3c644;
      }
      &.good {
        color: #74c37f;
      }
      &.strong {
        color: #2ac84c;
      }
    }
  }
}
