.document-page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .flex0 {
    flex: 1 1 0%;
  }

  .document-table {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    i {
      cursor: pointer;
    }
  }

  .search-document-bar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;

    div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 40px;
      height: 100%;
      width: 66%;
      background-color: rgb(247, 247, 247);

      input {
        color: rgb(124, 124, 124); width: 80%;
      }
    }
    button {
      width: 33%; height: 100%; cursor: default;
    }
  }


}