.helpButton{
  font-size: 22px;
  position: fixed;
  right: 35px;
  bottom: 15px;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  border: 1px solid #e1e1e1;
  outline: none;
  cursor: pointer;
  a{
    text-decoration: none;
    display: block;
    color: #104747;
  }
}
