.boxWrp{
  background-color: #fff;
  text-align: center;
  padding: 45px;
  box-sizing: border-box;
  border-radius: 3px;
  max-width: 330px;
  width: 100%;
  margin-right: 45px;
  .box-img{
    height: 90px;
    margin-bottom: 45px;
  }
  .create-document{
    height: 35px;
    line-height: 35px;
    font-size: 1.0625rem;
    background-color: #c9a91f;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
  }
  .box-footer{
    text-align: right;
  }
  .help{
    font-size: 12px;
    color: #afafaf;
  }
}
