.billboard-container{
  position: relative;
  margin-bottom: 80px;
}
.billboard-img{
  width:100%;
}
.billboard-title{
  position: absolute;
  top: 50%;
  left: 11%;
  font-weight: 300;
  line-height: 0.37;
  transform: translateY(-50%);
  font-size: 30px;
  color: rgb(255, 255, 255);
}
