
.faq-input-container{
  color: rgb(122, 122, 122);
  margin-bottom: 30px;
  display: flex;
  position: relative;
}
.faq-input{
  position: relative;
  flex: 1 1 0%;
  border: none;
  background-color: rgb(249, 249, 249);
  border-radius: 32px;
  padding: 14px 65px;
  font-size: 16px;
}
.faq-input-icon{
  background-image: url("https://d1xvn5mjulg4qv.cloudfront.net/3.0.0/images/search.png");
  margin-right: 10px;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 30px;
  top: 18px;
  font-size: 16px;
  background-size: contain;
}
.faq-items-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.faq-item-container{
  flex:0 0 1;
  width:50%;
  box-sizing: border-box;
  padding-right: 20px;
}
.faq-item-container-inner{
  width: 100%;
  margin: 5px 0px;
}
.faq-item-button{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.faq-item-title{
  flex: 1 1 0%;
}
.faq-chevron-icon{
  background: url('https://d1xvn5mjulg4qv.cloudfront.net/3.0.0/images/arrow-down.png') center center / contain no-repeat;
  height: 20px;
  width: 20px;
}
.faq-content-container{
  display: none;
  background-color: rgb(249, 249, 249);
}
.faq-content-container-inner{
  display: flex;
  margin: 0px;
  padding: 30px;
  color: rgb(16, 71, 71);
}
.faq-content-title{
  font-size: 18px;
  font-weight: bold;
  padding-right: 15px;
}
.faq-content-text{
  font-size: 12px;
  line-height: normal;
  color: rgb(0, 0, 0);
}
