.homePageWrp{
  height: 100vh;
  overflow-y: auto;
  .homePageContainer{
    background-image: url('https://d1xvn5mjulg4qv.cloudfront.net/3.0.0/images/bg.png');
    position: relative;
    height: 100%;

    @media screen and (min-height: 720px){
      height: calc(100% - 81px);
    }
  }
  .homePageContainer::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-image: radial-gradient(circle, rgba(16, 71, 71, 0.5), rgba(16, 71, 71, 0.95));
  }
  .prefaceContainer{
    text-align: center;
    padding: 130px 0 100px;
    position: relative;
  }
  .preface-text{
    color: #fff;
    margin: 30px 0 0;
    font-size: 30px;
    font-weight: 700;
  }
  .img-logo{
    height: 20px;
  }
  .boxes-wrp{
    display: flex;
    position: relative;
    padding: 0 20px 20px;
    justify-content: center;
    & > div:last-child{
      margin-right: 0;
    }
  }
}
