
/*
* These are glpbal styles that were not included in the original css file.
*/
.content-container-1{
  padding-bottom: 64px;
}
.content-container-2{
  margin: 0px auto;
  width: 1024px;
}
.content-header{
  font-weight: 300;
  color: rgb(16, 71, 71);
  font-size: 30px;
  margin: 34px 0px;
  display: block;
}
